<li class="group">
	<div class="open">
		<%= image_tag("/images/icons/door.png", :title => "Closed group", :class => "mr5") if !group.public? %>
		<%= image_tag("/images/icons/door_open.png", :title => "Open group", :class => "mr5") if group.public? %>
	</div>
	<div class="name">
		<%= link_to(group.name, group) %>
	</div>
	<div class="weak member-count">
		<%= pluralize(group.members.count, "member") %>
	</div>
	<div class="weak message-time">
		<% if group.messages.count > 0 %>
		last message posted <%= time_ago_in_words(group.messages.last.created_at) %> ago
		<% end %>
	</div>
</li>