<div class="border-bottom">
	<h2 class="mb10"><%= @group.name %> <span class="weak">forwarding</span></h2>
	<%= link_to('Back to the group page', @group, :class => 'icon back') %>
</div>

<div class="weak centered">
	<h2>Forward messages from this group via <strong>Email</strong>, <strong>AIM</strong>, <strong>GoogleTalk</strong> and <strong>Twitter</strong>!</h2>
	<div>(SMS coming soon)</div>
</div>

<div class="w600 mb40">
	<div class="shadowed-box">
		<h2 class="strong border-bottom mt10">You're currently forwarding messages from this group to...</h2>
		<ul id="subscriptions" class="subscriptions mb10">
		<% @subscriptions.each do |sub| %>
			<%= render 'subscriptions/list_show', :subscription => sub %>
		<% end %>
		</ul>
		<div id="add-sub-section" class="grey-background p10">
			<%= render 'subscriptions/add' %>
		</div>
		<div class="mb10 weak small pl5">
			rollover an existing rule to edit/delete it
		</div>
	</div>
</div>

<script type="text/javascript">
	function linkDeleteClicks() {
		$('.delete-subscription').click(function() {
			var hidden = $(this).prev('.delete-hidden');
			if (hidden.length > 0) {
				hidden.val('1');
				$(this).parents('.subscription').hide();
				$('#save-warning').text("Make sure you press save, since you've deleted something.");
				$('#save-warning').fadeIn();
			} else {
				$(this).parents('.subscription').remove();
			}
		});
	}
	$(document).ready(function() {
		$('#add-subscription').click(function() {
			var time = new Date().getTime();
			var html = '<li class="subscription"><span class="contact-type">' +
				'<input id="group_subscriptions_attributes_0_user_id" name="group[subscriptions_attributes][' + time +
				'][user_id]" type="hidden" value="1">' +
				'<%= select(:subscription,
					:type,
					Subscription.types.collect,
					{},
					:name => "group[subscriptions_attributes][' + time + '][type]").gsub(/\n/, "") %></span>' +
				'<span><%= text_field_tag("temp", nil, :name => "group[subscriptions_attributes]['
				+ time + '][contact_info]") %></span>' +
				'<span><%= link_to(image_tag("/images/icons/delete.png", :title => "Delete this subscription"), "#", :class => "delete-subscription")%></span></li>';
			$('#subscriptions').append(html);
			linkDeleteClicks();
			return false;
		});
		
		linkDeleteClicks();
	});
</script>