<div class="w400">
	<h2 class="centered">Step 1: Create the group.</h2>
	<div class="centered">
		or <%= link_to('go back to your group list', groups_path) %>.
	</div>

	<div class="shadowed-box">
		<% form_for @group do |form| %>
		<%= form.error_messages %>
		<ol class="formList">
			<li>
		    <%= form.label :name, "Give it a good name." %>
		    <%= form.text_field :name %>
		  </li>
			<li>
		    <%= form.label :short_name, "Give it a good \"short name\" or abbreviation." %>
				<small class="block weak">(Saves space when we send messages to Twitter or SMS)</small>
		    <%= form.text_field :short_name %>
		  </li>
			<li>
				<%= form.label :public, "Will it be open or closed?", :class => 'mb10' %>
				<div class="mb10 indented">
					<%= form.radio_button :public, true %> <strong>Open</strong>
					<small class="weak">(Anyone can join)</small>
				</div>
				<div class="indented">
					<%= form.radio_button :public, false %> <strong>Closed</strong>
					<small class="weak">(You approve who joins)</small>
				</div>
			</li>
		  <li class="mt10">
		    <%= form.submit "Create group" %> or <%= link_to('Cancel', groups_path) %>
		  </li>
		</ol>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	   $('#group_name').focus();
	 });
</script>