<div class="border-bottom">
	<h2><%= @group.name %></h2>
	<%= link_to('Back to groups', groups_path, :class => 'mr15') %>
	<%= link_to('Edit this group', edit_group_path(@group)) if @group.admin?(current_user) %>
</div>

<div>
	<div class="secondary-right">
	  <div class="insides">
			<div id="group-subscriptions">
				<%= link_to('Edit', forwarding_group_path(@group), :class => 'right') if !@subscriptions.empty? %>
				<h3>Message forwarding</h3>
				<% if @subscriptions.empty? %>
					<div class="mt10 border-bottom">
						Forwarding messages is what makes Publishur special.
						<%= link_to('Start forwarding!', forwarding_group_path(@group))%>
					</div>
				<% else %>
				<ul class="mt10 border-bottom group-subscriptions">
					<% @subscriptions.each do |sub| %>
						<li class="<%= sub.class.to_s %>">
							<%= print_subscription(sub) %>
						</li>
					<% end %>
				</ul>		
				<% end %>
			</div>
			<div id="group-members">
				<%= render 'security' %>
				<h3>Members</h3>
				<% if !@group.pending_members.empty? %>
				<div class="mt10 white-background rounded p10">
					<strong>Requests to join this group</strong>
					<ul class="members">
						<%= render @group.pending_members, :pending => true %>
					</ul>	
				</div>
				<% end %>
		    <ul class="members mt10">
					<%= render @group.members %>
				</ul>
				<div class="mt30 weak">
					Want to invite a friend?  Send them to:
					<%= link_to(join_group_path(@group, :only_path => false), join_group_path(@group)) %>
				</div>
			</div>
	  </div>
	</div>

	<div class="primary-left">
		<div class="insides">
			<% if !@group.members.include?(current_user) && @group.public? %>
			<div class="group-join-question">
				You cannot post a message to this group unless you are a member of it.<br/>
				<%= link_to("Click here to join", join_group_path(@group))  %>
			</div>
			<% else %>
			<%= render 'messages/form', :group => @group, :message => Message.new %>
			<% end %>
			<div id="group-message-info"></div>
			<ul class="messages">
				<%= render @group.messages %>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#message_body').keyup(function() {
			if ($('#message_body').val().length > 140)
				$('#group-message-info').text('Reminder: anyone receiving an SMS will only get the first 140 characters. You\'re at ' + $('#message_body').val().length + '.');
			else
				$('#group-message-info').text('');
		});
	});
</script>