<div class="border-bottom">
	<h2 class="mb10"><%= @group.name %></h2>
	<%= link_to('Invite friends to this group', invite_group_path(@group), :class => 'mr15 icon friends') if @group.admin?(current_user) %>
	<%= link_to('Upgrade this group', upgrade_group_path(@group), :class => 'mr15 icon upgrade') if @group.admin?(current_user) %>
	<%= link_to('Edit this group', edit_group_path(@group), :class => 'mr15 icon edit') if @group.admin?(current_user) %>
	<%= link_to('Delete this group', group_path(@group), :method => :delete, :confirm => "Are you sure you want to delete this group?  All of its messages will be erased as well...this cannot be undone.", :class => 'icon delete') if @group.admin?(current_user) %>
	
	<%= link_to('Leave this group', [@group, @membership], :method => :delete, :confirm => "Are you sure you want to leave this group?", :class => 'icon delete') if !@group.admin?(current_user) %>
	<div>
		<%= image_tag('/images/you-arent-forwarding.png') if @subscriptions.empty? %>
	</div>
</div>

<div>
	<div class="secondary-right">
	  <div class="insides">
			<div id="group-subscriptions" class="border-bottom">
				<%= link_to('Edit', forwarding_group_path(@group), :class => 'right') if !@subscriptions.empty? %>
				<h3>Message forwarding</h3>
				<% if @subscriptions.empty? %>
					<div class="mt10">
						Forward this group's messages to your Email, AIM, Twitter, and more!
						<%= link_to('Start forwarding!', forwarding_group_path(@group), :class => 'block')%>
					</div>
				<% else %>
				<ul class="mt10 group-subscriptions">
					<% @subscriptions.each do |sub| %>
						<li class="<%= sub.class.to_s %>">
							<%= print_subscription(sub) %>
						</li>
					<% end %>
				</ul>		
				<% end %>
			</div>
			<div id="group-members">
				<%= render 'security' %>
				<h3>Members</h3>
				<% if !@group.requested_members.empty? %>
				<div class="mt10 white-background rounded p10">
					<strong>Requests to join this group</strong>
					<ul class="members">
						<%= render @group.requested_members, :pending => true %>
					</ul>	
				</div>
				<% end %>
		    <ul class="members mt10">
					<%= render @group.members %>
				</ul>
			</div>
	  </div>
	</div>

	<div class="primary-left">
		<div class="insides">
			<% if !@group.members.include?(current_user) && @group.public? %>
			<div class="group-join-question">
				You cannot post a message to this group unless you are a member of it.<br/>
				<%= link_to("Click here to join", join_group_path(@group))  %>
			</div>
			<% else %>
			<%= render 'messages/form', :group => @group, :message => Message.new %>
			<% end %>
			<ul class="messages">
				<%= render @messages %>
			</ul>
			<div class="mt10">
				<%= will_paginate @messages %>
			</div>
		</div>
	</div>
</div>