<div class="centered">
	<h2>This is where you can update your personal settings.</h2>
	
	<div class="w400">
		<div class="shadowed-box text-left">
			<ul>
			<% form_for current_user do |form| %>
				<li class="border-bottom">
					<h2 class="strong">Change your name</h2>
				</li>
				<li>
					<%= form.label :first_name %>
					<%= form.text_field :first_name %>
				</li>
				<li>
					<%= form.label :last_name %>
					<%= form.text_field :last_name %>
				</li>
				<li class="border-bottom mt20">
					<h2 class="strong">Change your password</h2>
				</li>
				<li>
					<%= form.label :password, 'New password' %>
					<%= form.password_field :password %>
				</li>
				<li>
					<%= form.label :password_confirmation, 'New password (again)' %>
					<%= form.password_field :password_confirmation %>
				</li>
				<li class="border-bottom mt20">
					<h2 class="strong">Change your time zone</h2>
				</li>
				<li>
					<%= form.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones %>
				</li>
				<li class="border-bottom mt20">
					<h2 class="strong">Finding out about updates</h2>
				</li>
				<li>
					<%= form.check_box :send_me_updates %>
					<%= form.label :send_me_updates, 'Yes, send me feature updates', :class => 'inline' %>
				</li>
				<li class="mt20">
					<%= form.submit 'Save settings', :class => 'button' %>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>