<h2 class="centered">Let's get you signed up for your new <strong>free</strong> Publishur account!</h2>
<div class="centered">
	Already have one? <%= link_to('Sign in', signin_path) %>.
</div>
<div class="w400">
	<div class="shadowed-box">
		<% form_for @user do |form| %>
		<%= form.error_messages %>
		<ol class="formList">
			<li class="border-bottom">
				<h2 class="strong">1. Create your account</h2>
			</li>
			<li>
		    <%= form.label :first_name, "First name" %>
		    <%= form.text_field :first_name %>
		  </li>
			<li>
		    <%= form.label :last_name, "Last name" %>
		    <%= form.text_field :last_name %>
		  </li>
		  <li>
		    <%= form.label :email, "Email" %>
		    <%= form.text_field :email %>
		  </li>
		  <li>
		    <%= form.label :password, "Password" %>
		    <%= form.password_field :password %>
		  </li>
		  <li>
		    <%= form.label :password_confirmation, "Password (again)" %>
		    <%= form.password_field :password_confirmation %>
		  </li>
			<li>
				<%= form.label :timezone, "Time zone" %>
				<%= form.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones %>
			<% if @user.paying? %>
			<li class="border-bottom mt20">
				<h2 class="strong">2. Enter your billing information</h2>
			</li>
			<li>
				some cool billing form inputs will go here
			</li>
			<% end %>
		  <li class="mt20">
		    <%= form.submit "Create my account", :class => 'button' %>
		  </li>
		</ol>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	   $('#user_first_name').focus();
	 });
</script>