<h2 class="mb20">Here is your Dashboard, your home away from home.</h2>

<div class="section relative">
	<div class="heading">Your Groups</div>
	<%= link_to('Create a group', new_group_path, :class => 'top-right icon add') %>
	<div class="indented">
		<% if @groups.empty? %>
			You don't belong to any groups yet, <%= link_to('create one', new_group_path) %> or <%= link_to('join one', groups_path) %>!
		<% else %>
		<ul class="lined">
			<%= render @groups %>
		</ul>
		<% end %>
	</div>
</div>

<% if @pending_memberships.size > 0 %>
<div class="section relative">
	<div class="heading">Pending Groups</div>
	<div class="top-right">These are groups you have requested to join.</div>
	<div class="indented">
		<ul class="lined">
			<% @pending_memberships.each do |m| %>
				<%= render m.group %>
			<% end %>
		</ul>
	</div>
</div>
<% end %>