<div class="w400">
	<h2 class="centered">Please sign in to access your account.</h2>  
	<div class="centered">
		Don't have an account? <%= link_to('Sign up', signup_path) %>.
	</div>
	
	<div class="shadowed-box">
		<% form_for @user_session do |form| %>
		<%= form.error_messages %>
		<ol class="formList">
		  <li>
		    <%= form.label :email %>
		    <%= form.text_field :email %>
		  </li>
		  <li>
		    <%= form.label :password %>
		    <%= form.password_field :password %>
		  </li>
			<li class="mb10">
				<%= form.check_box :remember_me %>
				<%= form.label :remember_me, 'Remember me on this computer', :class => 'inline' %>
		  <li>
		    <%= form.submit "Sign in" %>
		  </li>
		</ol>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		console.log($('#user_session_email'));
		$('#user_session_email').focus();
	});
</script>